<?xml version="1.0"?>
<model>
  <name>hummingbird</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Hummingbird quadrotor model using the x500_base geometry and x500 motor configuration.</description>
</model>
